.event_page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.event_block {
  padding-top: 50px;
  text-align: left;
  justify-content: center;

  img {
    margin-top: 25px;
    margin-right: 25px;
    width: 25%;
    display: inline-block;
    vertical-align: top;

    height: 350px;
    object-fit: cover;
    @include img-filter();
  }
  .event_info {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 15px;
    line-height: 24px;
    word-spacing: 0.2em;
    font-size: 20px;
    text-align: left;
    h3 {
      float: left;
      font-weight: 700;
    }
    p {
      margin-top: 15px;
    }
  }
}
